.slick-arrow{
	position: absolute;
	top: 50%;
	bottom: auto;
	z-index: 50;

	&:hover{
		cursor: pointer;
		svg{
			path{
				color: red !important;
				fill: red !important;
			}
		}
	}
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}