.seated{
    &-events-table{
        border-top: 0;

        .seated-event{
            &-row{
                border-bottom: 0;
                div, a{
                    font-family: $font__accent;
                }
            }
            &-date-cell{
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 162.5% */
                letter-spacing: 3.52px;
            }
            &-venue-name{
                font-size: 27px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &-venue-location{
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 31px;
            }
            &-link-cell{
                align-items: flex-end;
                a{
                    border: 2px solid #000;
                    padding: 10px 20px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    &:hover{
                        color: $white;
                    }
                }
            }
        }
        .seated-follow-box{
            a{
                @include primary-button();
            }
        }
    }
}
.bit{
    &-widget-container{
        .bit{
            &-upcoming-events{
                margin: 0 !important;
                border: 0 !important;
            }
            &-event{
                border-top: 0 !important;
                flex-flow: row wrap;
                flex-grow: unset;
                margin: 20px 0;
                padding: 0;
                gap: 20px 0 !important;
            }
            &-details{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row wrap;
                flex-grow: unset;
                width: 80%;
                div{
                    font-family: $font__accent;
                    &:nth-child(1){
                        width: 100%;

                    }
                    .bit-date{
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px; /* 162.5% */
                        letter-spacing: 3.52px;
                    }
                }
                div.bit-titleWrapper{
                    width: 50%;
                    .bit-venue{
                        width: 100%;
                        font-size: 27px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
                .bit-location{
                    width: 40%;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: left !important;
                }
            }
            &-details.bit-event-buttons{
                width: 20%;
                justify-content: flex-end !important;
                div{
                    width:50%;
                    margin: 0;

                    a{
                        @include primary-button();
                    }
                }
                .bit-rsvp-container{
                    width: auto;
                    flex-basis: auto;
                }
                .bit-single-cta{
                    flex-basis: auto;
                }
            }
        }
    }
}
.buttons-shows{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a{
        @include primary-button();
    }
}