.music__section{
    .banner__media{
        background-color: transparent !important;
        svg{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    >.page-width{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 0;

        .title-section{
            display: none;
            color: $color__accent;
            font-family: $font__accent;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 30px;
            text-align: center;
        }

        .banner__box{
            background: transparent;
            padding: 0;
            max-width: 1440px;
            min-width: 100%;
            
            >.page-width{
                max-width: 1440px;
            }
        }
    }
}

.music__section{
    .music-list.style-1{
        .slick-arrow{
            position: absolute;
            top: 50%;
            bottom: 15%;
            z-index: 50;
        
            &:hover{
                cursor: pointer;
                svg{
                    path{
                        color: red !important;
                        fill: red !important;
                    }
                }
            }
        }
        .slick-prev{
            left: auto;
            right: 27%;
        }
        .slick-next{
            right: 22%;
        }
        .slick-slide{
            .music{
                &-image{
                    width: 50%;
                }
                &-content{
                    width: 40%;
                    
                    .music{
                        &-title{
                           h3{
                            font-size: 45px;
                            margin: 0 0 30px;
                           }
                        }
                    }
                }
            }
        }
    }
}
/*
.music__section{
    .music-list.style-2{
        // All is normal
    }
}
*/
.music__section{
    .music-list.style-3{
        .music{
            position: relative;
            &-image{
                position: relative;
                &::after{
                    content: "";
                    background: rgba(0, 0, 0, 0.6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
            &-content{
                .music{
                    &-button{
                        position: absolute;
                        top: 35%;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        min-width: max-content;
                    }
                }
            }
            &:hover{
                .music-image{
                    &::after{
                        opacity: 1;
                    }
                }
                .music-content{
                    .music-button{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.music__section{
    .music-list.style-4{
        max-width: 70%;
        .slick-list{
            padding: 50px 0 !important;
            max-width: 80%;
            margin: 0 auto;
        }
        .slick-slide{
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            //margin: 0 20px;
            .music{
                &-content{
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .slick-slide.slick-center{
            margin-top: 15px;
            position: relative;
            z-index: 10;
            transform: scale(1.25);
            .music{
                &-content{
                    opacity: 1;
                }
            }
        }
    }
}