.video__section{
    .banner__media{
        background-color: transparent !important;
        svg{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    >.page-width{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 0;

        .title-section{
            display: none;
            color: $color__accent;
            font-family: $font__accent;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 30px;
            text-align: center;
        }
        .banner__box{
            background: transparent;
            padding: 0;
            max-width: 1440px;
            min-width: 100%;
            
            >.page-width{
                max-width: 1440px;
            }
        }
    }
}

.video__section{
    .videos-list.style-1{
        .single-video{
            .title-video{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                width: 85%;
                z-index: 50;
            }
            .button-video{
                border: 2px solid $white;
                border-radius: 0;
                align-items: center;
                justify-content: center;
                color: $white;
                text-align: center;
                font-family: $font__accent;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: absolute;
                top:70%;
                left:50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                width: auto;
                height: auto;
                overflow: visible;
                background: transparent;
                padding: 10px 20px;
                text-decoration: none;
                transition: .3s ease all;
                z-index:3;

                &:hover{
                    transition: .3s ease all;
                    opacity: 0.6;
                }
            }
        }   
    }
}

.video__section{
    .videos-list.style-2{
        .single-video{
            .title-video{
                position: absolute;
                top:auto;
                bottom: 0;
                left:50%;
                margin: 10px 0;
                transform: translate(-50%, -50%);
                text-align: left;
                width: 85%;
                z-index: 50;
            }
        }   
    }
}

.video__section{
    .videos-list.style-3{
        .slick-arrow{
            top: auto;
            bottom: 10%;
        }
        .slick-prev{
            left: auto;
            right: 10%;
        }
        .slick-next{
            right: 5%;
        }
        .single-video{
            .title-video{
                position: absolute;
                top:auto;
                bottom: 7%;
                left:10%;
                margin: 10px 0;
                text-align: left;
                width: 70%;
                z-index: 50;
            }
        }   
    }
}


.video__section{
    .videos-list.style-4{
        width: 80%;
        max-width: 1440px;
        margin: 0 auto;
        .slick-arrow{
            top: 40%;
        }
        .slick-prev{
            left: -5%;

            svg{
                path{
                    color: $black !important;
                    fill: $black !important;
                }
            }
        }
        .slick-next{
            right: -5%;
            svg{
                path{
                    color: $black !important;
                    fill: $black !important;
                }
            }
        }
        .single-video{
            .title-video{
                color: $black;
                margin: 10px 0;
                text-align: left;
                width: 100%;
                z-index: 50;
            }
        }   
    }
}