.store__section{
    .banner{
        flex-direction: column;
    }
    &::after{
        display: none !important;
    }
    .banner__media{
        background-color: transparent !important;
        svg{
            display: none !important;
        }
        &::after{
            display: none;
        }
    }
    .collection{
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 0;

        .title{
            display: none;
            color: $color__accent;
            font-family: $font__accent;
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 30px;
            text-align: center;
        }
    }
}
/*
.music__section{
    .music-list.style-2{
        // All is normal
    }
}
*/
.store__section{
    .store-list.style-1{
        .slick-slide{
            margin: 0 30px;
        }
    }
}
.store__section{
    .store-list.style-2{
        .slick-slide{
            position: relative;
            margin: 0 30px;

            .card__media{
                &::after{
                    content: "";
                    background: rgba(0, 0, 0, 0.6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }

            .quick-add {
                position: absolute;
                top: 35%;
                left: 50%;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            &:hover{
                .card__media{
                    &::after{
                        opacity: 1;
                    }
                }
                .quick-add {
                    opacity: 1;
                }
            }
        }
    }
}

.store__section{
    .store-list.style-3{
        .slick-arrow{
            position: absolute;
            top: auto;
            bottom: 20%;
            z-index: 50;
        
            &:hover{
                cursor: pointer;
                svg{
                    path{
                        color: red !important;
                        fill: red !important;
                    }
                }
            }
        }
        .slick-prev{
            left: auto;
            right: 33.5%;
        }
        .slick-next{
            right: 28.5%;
        }
        .slick-slide{
            opacity: 0;
            .card-wrapper{
                opacity: 0;
                transition: all 0.3s ease-in-out;
                width: 100%;

                .card--media{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;

                    .card__inner{
                        width: 40%;
                    }
                    >.card__content{
                        width: 40%;
                        flex-grow: inherit;
                    }
                }
            }
        }
        .slick-current.slick-active{
            .card-wrapper{
                opacity: 1;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.store__section{
    .store-list.style-4{
        max-width: 90%;
        .slick-list{
            padding: 50px 0 !important;
            max-width: 70%;
            margin: 0 auto;
        }
        .slick-slide{
            transition: all 0.3s ease-in-out;
            .card-wrapper{
                transform: scale(1);
                transition: all 0.3s ease-in-out;

                .card__content{
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .slick-slide.slick-center{
            margin-top: 15px;
            position: relative;
            z-index: 10;
            .card-wrapper{
                transform: scale(1.25);

                .card__content{
                    opacity: 1;
                }
            }
        }
    }
}
/*
#shopify-section-template--23983641329975__featured_collection_wnJ3Bn{
    .color-background-1{
        background-color: transparent;
    }
    .collection__title {
        display: none;
    }
    .page-width-desktop{
        padding: 0;

        .slick-slider{
            .slick-arrow{
                top: 30%;
                bottom: auto;
            }
            .slick-prev{
                left: -5%;
            }
            .slick-next{
                right: -5%;
            }
            .slick-list{
                padding: 0 !important;

                .slick-slide{
                    margin: 0 10px;

                    .card--standard{
                        .card__inner{
                            max-height: 250px;
                            .card__media{
                                img{
                                    max-height: 250px;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .card__content{
                                max-height: 250px;
                            }
                        }
                        .card__content{
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items: center;
                            
                            .card__information{
                                h3{
                                    font-family: $font__accent;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    text-align: center;
                                }
                                .card-information{
                                    .price{
                                        font-family: $font__accent;
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: normal;
                                        text-align: center;
                                    }
                                }
                            }
                            .quick-add{
                                font-family: $font__accent;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                width: fit-content;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}*/